

        <!-- main-area -->
        <main>

            <!-- cart-area -->
            <div class="cart-area pt-100 pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="cart-wrapper">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th class="product-thumbnail">Name</th>
                                                <th class="product-name">Email</th>
                                                <th class="product-price">Message</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                
                                                <td class="product-name">
                                                    <h4><a href="shop-details.html">Travelling Bags</a></h4>
                                                </td>  
                                                <td class="product-name">
                                                    <h4><a href="shop-details.html">afdasfdsa Bags</a></h4>
                                                </td>
                                                <td class="product-price">$ 37.00</td>
                                                <td class="product-quantity">
                                                    <div class="cart-plus-minus">
                                                        <div class="continue-shopping">
                                                            <a href="shop.html" class="btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart-coupon">
                                                        <form action="#">
                                                            <button class="btn">Update</button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                
                                                <td class="product-name">
                                                    <h4><a href="shop-details.html">Travelling Bags</a></h4>
                                                </td>  
                                                <td class="product-name">
                                                    <h4><a href="shop-details.html">asdffsad Bags</a></h4>
                                                </td>
                                                <td class="product-price">$ 37.00</td>
                                                <td class="product-quantity">
                                                    <div class="cart-plus-minus">
                                                        <div class="continue-shopping">
                                                            <a href="shop.html" class="btn">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="cart-coupon">
                                                        <form action="#">
                                                            <button class="btn">Update</button>
                                                        </form>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart-area-end -->

        </main>
        <!-- main-area-end -->
